h1{
    color:brown;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: blanchedalmond;
}

header{
    background-color: burlywood;
}

nav li{
    display: inline;
    margin-right: 10px;
}

nav a{
    text-transform: uppercase;
    color: brown;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}